{% extends "base.html" %}

{% load tailwind_filters %}

{% block title %}Channels{% endblock %}

{% block nav %}
  {% include 'navbar.html' with user=request.user %}
{% endblock%}

{% block content %}
  <div class="flex flex-col items-center">
    <p>Create a new channel:</p>
    <form
          action="{% url 'seenit:create_channel' %}"
          method="POST"
        >
          {% csrf_token %} 
          
          {{ form|crispy }}
          <button class="bg-green-500 py-2 px-4 rounded">Create</button>
        </form>
    <h1 class="text-xl my-4">Channels</h1>

    <ul>
      {% for channel in channel_list %}

        <li>
          <a href="{% url 'seenit:channel_detail' pk=channel.id %}" class="text-blue-500 underline">
            {{ channel.name }}
          </a>
        </li>

      {% endfor %}
    </ul>
  </div>
{% endblock %}