{% extends "base.html" %} 

{% load static %} 

{% load tailwind_filters %} 

{% block title %}{{post.title}}{%endblock %} 

{% block nav %} 
  {% include 'navbar.html' with user=request.user %}
{% endblock%} 

{% block content %}
<div class="flex justify-center">
  <div class="w-[400px] sm:w-[600px]">
    <div class="post-container">
      <div class="border border-black my-3">
        <div class="flex">
          {% include "post_rating_base.html" with rating=post.rating post=post post_type='post' %}
          <div class="px-4">
            <p class="text-xs">Posted by {{post.user.username}}</p>
            <h4 class="text-gray-500 text-lg">{{ post.title }}</h4>
            <p>{{post.text}}</p>
          </div>
        </div>
      </div>
    </div>
    <div>
      <h3>Comment:</h3>
      <form
        action="{% url 'seenit:post_detail' pk=post_id channel_id=post.channel.id %}"
        method="POST"
      >
        {% csrf_token %} {{ form|crispy }}
        <button class="bg-green-500 py-2 px-4 rounded">Comment</button>
      </form>
    </div>
    <div class="post-container">
      <ul>
          {% include "comment_template.html" %} 
      </ul>
    </div>
  </div>
</div>
<script src="{% static 'app.js' %}"></script>
{% endblock %}
