{% load tailwind_filters %}
<li>
  <div class="border border-black my-3 mx-10">
    <div class="flex">
      {% include "rating_base.html" with rating=comment.rating postType="comment" postId=comment.id %}
      <div class="px-4">
        <p class="text-xs">Posted by {{comment.user.username}}</p>
        <p>{{ comment.text }}</p>
        <button class="reply-btn bg-green-300 px-2 rounded">Reply</button>
        <form
          action="{% url 'seenit:reply' pk=comment.id channel_id=post.channel.id post_id=post.id %}"
          method="POST"
          style="display: none"
        >
          {% csrf_token %} {{ form|crispy }}
          <button class="bg-green-500 py-2 px-4 rounded">Reply</button>
        </form>
      </div>
    </div>
  </div>
  {% if comment.replies.exists %}
  <ul>
    {% for reply in comment.replies.all %} 
      {% with comment=reply template_name="comment_template.html" %} 
        {% include template_name %} 
      {% endwith %} 
    {% endfor %}
  </ul>
  {% endif %}
</li>
