{% load tailwind_filters %}

{% load mptt_tags %}

{% recursetree comments %}
<ul>
<li>
  <div class="border border-black my-3 mx-10">
    <div class="flex">
      {% include "comment_rating_base.html" with rating=node.rating comment=node post_type='comment' %}
      <div class="px-4">
        <p class="text-xs">Posted by {{node.user.username}}</p>
        <p>{{ node.text }}</p>
        <button class="reply-btn bg-green-300 px-2 rounded">Reply</button>
        <form
          action="{% url 'seenit:reply' pk=node.id channel_id=post.channel.id post_id=post.id %}"
          method="POST"
          style="display: none"
        >
          {% csrf_token %} {{ form|crispy }}
          <button class="bg-green-500 py-2 px-4 rounded">Reply</button>
        </form>
      </div>
    </div>
  </div>
  {% if not node.is_leaf_node %}
  
  {{ children }}
  
  {% endif %}
</li>
</ul>
{% endrecursetree %}
