<div class="post-container">
  <div class="border border-black my-3">
    <div class="flex">
      {% include "post_rating_base.html" with rating=post.rating post_type="post" post=post %}
      <div class="px-4">
        <p class="text-xs">Posted by <a href="{% url 'seenit:user_detail' pk=post.user.id %}" class="text-blue-500 underline">{{post.user.username}}</a></p>
        <a href="{% url 'seenit:post_detail' pk=post.id channel_id=post.channel.id %}">
        <h4 class="text-gray-500 text-lg">{{ post.title }}</h4>
        <p>{{post.text}}</p>
      </a>
      </div>
    </div>
  </div>
</div>